// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h2 i {
  color: rgb(170, 170, 170);
  font-size: 14px;

  span {
    font-size: 14px;
    text-decoration: none;
  }
}
